<div class="menu" style="display: none;">
  <a id="artists" class="menu_button" href="/player/artists">Artists</a>
  <a id="albums" class="menu_button" href="/player/albums">Albums</a>
  <a id="albums" class="menu_button" href="/player/tracks">Songs</a>
</div>