<footer>
  <div id="player">
    <i class="fa fa-step-backward fa-10x control_button"></i>
    <i class="fa fa-fast-backward fa-10x control_button"></i>
    <i class="fa fa-play fa-10x control_button"></i>
    <i class="fa fa-pause fa-10x control_button"></i>
    <i class="fa fa-fast-forward fa-10x control_button"></i>
    <i class="fa fa-step-forward fa-10x control_button"></i>
  </div>
</footer>