<h1>Songs</h1>
<hr>

<% @tracks.each do |track| %>
  <a id="<%= track.id %>"class="choice_link terminal" href="<%= "/player/tracks/#{track.id}" %>"><%= track.name %></a><h2><%= "by #{track.artist.name}" %></h2>
<% end %>