<div class="container">
  <%= erb :_menu, layout: false %>
  
  <div class="choice_display">
  </div>

  <div>
    <h2>Listing (artists/tracks/etc)</h2>
  </div>
</div>

<%= erb :_player_controls, layout: false %>
